<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <title>Leave Application</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />

</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title">
                    <span class="login100-form-title-1">
                        Log In
                    </span>


                    <div th:if="${param.error}">
                        <p class="text-danger">Username or Password is invalid!</p>
                    </div>

                    <div th:if="${param.otp}">
                        <p class="text-danger" style="text-align: center; color: rosybrown;">
                            Y've already five time password,
                            For security reason,
                            Kindly check your email and use the provided OTP to login.<br>
                            Note: The OTP will expire after 5 minutes.
                        </p>
                    </div>

                    <div th:if="${param.sessiontimeout}">
                        <p class="text-danger" style="text-align: center; color: rosybrown;">
                          Session Experied <br>
                          Please Re-Login
                        </p>
                    </div>

                    <div th:if="${param.logout}">
                        <p class="text-warning">You have been logged out.</p>
                    </div>


                    <form class="login100-form validate-form" th:action="@{/login}" method="post">

                        <div th:if="${param.otp == null}" class="wrap-input100 validate-input m-b-26">
                            <span class="label-input100">Username</span>
                            <input type="username" class="input100" name="username" placeholder="Enter username" required>
                            <span class="focus-input100"></span>
                        </div>
                        <div th:if="${param.otp != null}">
                            <input type="hidden" class="input100" name="username" th:value="${param.username}" required>
                        </div>

                        <div class="wrap-input100 validate-input m-b-18">
                            <span class="label-input100" th:text="${param.otp != null ? 'OTP' : 'Password'}"></span>
                            <input class="input100" th:type="password" name="password"
                                th:placeholder="${param.otp != null ? 'Enter One Time Password' : 'Password'}" required>
                            <span class="focus-input100"></span>
                        </div>


                        <div class="container-login100-form-btn">
                            <input type="submit" value="Login" class="login100-form-btn" />
                        </div>
                    </form>


                </div>
            </div>
        </div>

</body>

</html>